// SLDS Colors
$white: #ffffff;
$catskill-white: #EEF1F6;
$casper: #A7BBD1;
$kashmir-blue: #4F6A92;
$anchor-navy: #344A5F;
$background-grey: #F8F8F8;
$salesforce-blue: #00a1e0;
$science-blue: /*#0070D2*/ #27709b;
$midnight-blue: #00396B;
$salesforce-grey: #7c868d;
$caribbean-green: #00D0A9;
$dull-lavender: #b795e5;
$denim: #1378b7;
$saffron-mango: #fcb95b;
$geyser: #d8dde6;
$bonjour: #E2E2E2;
$green: #4bc076;
$yellow: #f6b64b;
$red: #ed6e66;
$shakespeare: #48C3CC;
$havelock-blue: #618FD8;
$portage: #9895EE;
$goldenrod: #F8D870;
$froly: #F07981;
$puerto-rico: #41C8A0;
$boston-blue: #3E99BE;

// Herbalife Brand Colors
$herbalife-green:#7BC14A; 
$herbalife-mid-green: #B8E986;
$herbalife-light-green: #E8F5DC;
$herbalife-grey: #D8DDE6 ;
$herbalife-green:#7AC143; 
$herbalife-blue:#0080ff; 
$herbalife-darkblue:#27709b;
$herbalife-darkgrey:#2e2e2e;
$herbalife-orange:#faa634;
$herbalife-red:#ff0000;
$herbalife-salmon:#ff6148;
$herbalife-black: #181818;



$green:#7BC14A; 
$orange:#faa634;
$lightblack:#181818;
$lightgreen:#dbf5c8;
$lightcharcoal:#4d4d4d;
$blue:#0080ff; 
$darkblue:#27709b;
$darkgrey:#2e2e2e;
$orange:#faa634;
$red:#ff0000;
$salmon:#ff6148;
$black: #181818;
$lightblue:#c6eaff;
$teal:#2ebfc2;
$half-teal:#66d6d8;
$cat-navyblue:#07304e;

$black: #000000;
$charcoalgrey:#515151;
$dimgrey:#999999;
$grey:#cccccc;
$softgrey:#d7d7d7;
$lightgrey:#e8e8e8;
$offwhite:#f3f3f3;
$white: #ffffff;